body {
    font-family: Arial, sans-serif;
    /* Consistent font usage */
}

.resource-row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    /* Space between rows */
}

.resource-row button {
    margin-right: 10px;
    /* Space between buttons and text */
}

.resource-label {
    flex-grow: 1;
    /* Makes the label flexible in taking up remaining space */
}

.control-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Aligns items to the left */
    margin-bottom: 20px;
}

.control-row label,
.control-row select,
.control-row .dice {
    margin-right: 10px;
    /* Adjust as needed for spacing */
}

.dice {
    display: flex;
    align-items: center;
}

.dice button {
    margin-right: 20px;
    /* Adds space to the right of the Roll Dice button */
}