<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sheeps 5eva</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        let data = { hexagons: [], vertices: [], lines: [] };
        const socket = io();

        socket.on('state_update', (newData) => {
            console.log('Received state update:', newData);
            data = newData;
            draw();
        });

        async function handleButton(event, action) {
            event.preventDefault();
            console.log(`Button clicked: ${action}`);

            const formData = new FormData();
            formData.append('action', action);

            try {
                const response = await fetch('/generate', {
                    method: 'POST',
                    body: formData
                });
                data = await response.json();
                console.log('Data parsed from handleButton:', data);
                draw();
            } catch (error) {
                console.error('Error during fetch:', error);
            }
        }

        async function handleClick(event) {
            console.log(`Handling click: ${event}`);

            const selectedColor = document.getElementById('color-select').value;

            console.log(`Handling click: ${selectedColor}`);

            const canvas = document.getElementById('canvas');
            const rect = canvas.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            const response = await fetch('/click', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ x, y, selectedColor })
            });
            data = await response.json();
            console.log('Data parsed from handleClick:', data);
            draw();
        }

        function draw() {
            console.log('Data received by draw:', data);

            const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            data.hexagons.forEach(hexagon => {
                drawHexagon(ctx, hexagon.vertices, hexagon.color);
            });

            data.lines.forEach(line => {
                drawLine(ctx, line.x1, line.y1, line.x2, line.y2,
                    line.x3, line.y3, line.x4, line.y4,
                    line.width, line.color)
            });

            data.vertices.forEach(vertex => {
                drawVertex(ctx, vertex.x, vertex.y, vertex.radius, vertex.color)
            });
        }

        function drawHexagon(ctx, vertices, color) {
            ctx.beginPath();
            vertices.forEach(([x, y], index) => {
                if (index === 0) {
                    ctx.moveTo(x, y);
                } else {
                    ctx.lineTo(x, y);
                }
            });
            ctx.closePath();
            ctx.fillStyle = color;
            ctx.fill();
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 1;
            ctx.stroke();
        }

        function drawVertex(ctx, x, y, radius, color) {
            ctx.beginPath();
            ctx.arc(x, y, radius, 0, 2 * Math.PI);
            ctx.fillStyle = color;
            ctx.fill();
            // ctx.lineWidth = 1;
            // ctx.strokeStyle = 'black';
            // ctx.stroke();
        }

        function drawLine(ctx, x1, y1, x2, y2, x3, y3, x4, y4, width, color) {
            ctx.beginPath();
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.lineTo(x3, y3);
            ctx.lineTo(x4, y4);
            ctx.closePath();

            ctx.fillStyle = color;
            ctx.fill();
            // ctx.strokeStyle = 'white';
            // ctx.lineWidth = 2;
            // ctx.stroke();
        }

        window.onload = () => {
            document.getElementById('canvas').addEventListener('click', handleClick);
        };
    </script>
</head>

<body>
    <h1>Sheeps 5eva</h1>

    <form id="hex-form" onsubmit="handleButton(event)">
        <button type="submit" onclick="handleButton(event, 'hex')">Hex</button>
        <button type="submit" onclick="handleButton(event, 'big_hex')">Big Hex</button>
        <button type="submit" onclick="handleButton(event, 'diamond')">Diamond</button>
        <button type="submit" onclick="handleButton(event, 'big_diamond')">Big Diamond</button>
        <button type="submit" onclick="handleButton(event, 'back')">Back</button>
        <button type="submit" onclick="handleButton(event, 'forward')">Forward</button>
    </form>

    <label for="color-select">Choose your color:</label>
    <select id="color-select">
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
        <option value="purple">Purple</option>
        <option value="blue">Blue</option>
    </select>

    <canvas id="canvas" width="1600" height="600"></canvas>
    <p id="vertex-info"></p>
</body>

</html>